<body>
 <main>
  <p id="notice"></p>
  
  <div class="container px-5 px-sm-0">
   <div class="row">
    <div class="col-md-3">
    
    <%= render 'books/list', books: @books %>

    </div>

   
    <div class="col-md-8 offset-md-1">
      <table class="table table-hover table-inverse custom-table">

     </table>
   </div>
  </div>
 </main>
</body>